.mint-slider {
  display: flex;
  max-width: 400px;
  width: 100%;
  align-items: center;
  margin-top: 30px;
}
.mint-slider p {
  flex-shrink: 0;
  margin-left: 10px;
}

.mint-slider .MuiSlider-root {
  margin-top: 0;
  width: 70%;
}

body .slick-slider {
  z-index: 999;
}
header.bn-onboard-modal-content-header {
  padding: 0;
}

.buyB.disable {
  background-color: gray;
  pointer-events: none;
  box-shadow: none;
}


.group_photo2 { 
  border-radius: 15px;
}

@media (max-width:768px) {
  .dispNoneMobile {
    display: none;
  }

  .dispNoneDesktop {
    display: block !important;
  }

}

.dispNoneDesktop {
  display: none;
}