.buyB.list {
  padding: 10px 20px;
}
.buyB.list.disable {
  background-color: gray;
  cursor: pointer;
  pointer-events: none;
  user-select: none;
}
html iframe {
  display: none !important;
}

body .headingSelect select {
  background-position-x: 122px !important;
  min-width: 150px !important;
}

.reload {
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mint-slider {
  justify-content: center;
}
.blur {
  -webkit-filter: blur(15px); /* Safari 6.0 - 9.0 */
  filter: blur(15px);
}
